@import 'mixins';
@import 'defs';
@import 'reusable';

// dimensions variables
$height: height;
$min-height: min-height;
$max-height: max-height;
$lh: line-height;
$width: width;
$min-width: min-width;
$max-width: max-width;
$padding: padding;
$pt: padding-top;
$pl: padding-left;
$pr: padding-right;
$pb: padding-bottom;
$margin: margin;
$mt: margin-top;
$ml: margin-left;
$mr: margin-right;
$mb: margin-bottom;
$top: top;
$left: left;
$right: right;
$bottom: bottom;
$border-radius: border-radius;
